<div class="product-card">
    <img src="https://images.snowleader.com/cdn-cgi/image/f=auto,fit=scale-down,q=85/https://images.snowleader.com/media/catalog/product/cache/1/image/0dc2d03fe217f8c83829496872af24a0/s/e/serviette-tek-towel-bouclette-sage-configurable-seatosum-seat00608_01.jpg" alt="Product Image">
    <h3>Product Name</h3>
    <p>Description of the product goes here.</p>
    <p>Pri</p>
    <button class="btn btn-primary">Ver Detalhes</button>
</div>
