{% set example_list = [
    { title: "Titre 1", text: "reusable element" },
    { title: "Titre 2", text: "Dolor sit amet" },
    { title: "Titre 3", text: "Lorem ipsum" },
    { title: "Titre 4", text: "Dolor sit amet" },
    { title: "Titre 5", text: "Lorem ipsum" },
    { title: "Titre 6", text: "Dolor sit amet" }
] %}
