<div class="container mb-5">
    <div class="mb-5">
        <h4 class="h3">Mixin next/prev/up/down links</h4>
        <a class="next">Next</a><br>
        <a class="prev">Prev</a><br>
        <a class="up">Up</a><br>
        <a class="down">Down</a>
    </div>
    <div class="mb-5">
        <h4 class="mb-4">Mixin fontawesome-before & fontawesome-after<br>
            optional arguments : size / weight</h4>
        <a href="#" class="link-house">House</a><br>
        <a href="#" class="link-fries">Fries</a><br>
        <a href="#" class="link-egg">Egg</a><br>
        <a href="#" class="link-bacon">Bacon</a><br>
        <a href="#" class="link-burger">Burger</a>
    </div>
    <div class="mb-5">
        <h4 class="h3">Mixin css triangle</h4>
        <div class="triangle-top"></div>
        <div class="triangle-left"></div>
    </div>
</div>
