{% extends 'layouts/layout-default.njk' %}

{% block content %}
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Adresse</li>
                <li class="breadcrumb-item">Livraison</li>
                <li class="breadcrumb-item" aria-current="page">Paiement</li>
                <li class="breadcrumb-item" aria-current="page">Récapitulatif</li>
            </ol>
        </nav>
        <br>
        <h2>Adresse de facturation</h2>
        <h5>Saisir vos informations de facturation</h5>
        <form id="facturation-address">
            <div class="input-group mb-3 w-25">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="first-name">Prénom*</span>
                </div>
                <input required type="text" class="form-control" aria-describedby="first-name">
            </div>
            <div class="input-group mb-3 w-25">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="last-name">Nom de famille*</span>
                </div>
                <input required type="text" class="form-control" aria-describedby="last-name">
            </div>
            <div class="input-group mb-3 w-25">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="company">Entreprise</span>
                </div>
                <input type="text" class="form-control" aria-describedby="company">
            </div>
            <div class="input-group mb-3 w-25">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="address-street">Rue*</span>
                </div>
                <input required type="text" class="form-control" aria-describedby="address-street">
            </div>
            <div class="input-group mb-3 w-25">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="address-street2">Rue 2</span>
                </div>
                <input type="text" class="form-control" aria-describedby="address-street2">
            </div>
            <div class="input-group mb-3 w-25">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="address-postal-code">Code postal*</span>
                </div>
                <input required type="text" class="form-control" aria-describedby="address-postal-code">
            </div>
            <div class="input-group mb-3 w-25">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="address-city">Ville*</span>
                </div>
                <input required type="text" class="form-control" aria-describedby="address-city">
            </div>
            <div class="input-group mb-3 w-25">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="address-country">Pays*</span>
                </div>
                <select required name="address-country" class="form-control" id="address-country">
                    <option value="af">Afghanistan</option>
                    <option value="za">Afrique du Sud</option>
                    <option value="al">Albanie</option>
                    <option value="dz">Algérie</option>
                    <option value="de">Allemagne</option>
                    <option value="ad">Andorre</option>
                    <option value="ao">Angola</option>
                    <option value="ai">Anguilla</option>
                    <option value="aq">Antarctique</option>
                    <option value="ag">Antigua-et-Barbuda</option>
                    <option value="sa">Arabie saoudite</option>
                    <option value="ar">Argentine</option>
                    <option value="am">Arménie</option>
                    <option value="aw">Aruba</option>
                    <option value="au">Australie</option>
                    <option value="at">Autriche</option>
                    <option value="az">Azerbaïdjan</option>
                    <option value="bs">Bahamas</option>
                    <option value="bh">Bahreïn</option>
                    <option value="bd">Bangladesh</option>
                    <option value="bb">Barbade</option>
                    <option value="be">Belgique</option>
                    <option value="bz">Belize</option>
                    <option value="bj">Bénin</option>
                    <option value="bm">Bermudes</option>
                    <option value="bt">Bhoutan</option>
                    <option value="by">Biélorussie</option>
                    <option value="bo">Bolivie</option>
                    <option value="ba">Bosnie-Herzégovine</option>
                    <option value="bw">Botswana</option>
                    <option value="br">Brésil</option>
                    <option value="bn">Brunéi Darussalam</option>
                    <option value="bg">Bulgarie</option>
                    <option value="bf">Burkina Faso</option>
                    <option value="bi">Burundi</option>
                    <option value="kh">Cambodge</option>
                    <option value="cm">Cameroun</option>
                    <option value="ca">Canada</option>
                    <option value="cv">Cap-Vert</option>
                    <option value="cl">Chili</option>
                    <option value="cn">Chine</option>
                    <option value="cy">Chypre</option>
                    <option value="co">Colombie</option>
                    <option value="km">Comores</option>
                    <option value="cg">Congo-Brazzaville</option>
                    <option value="cd">Congo-Kinshasa</option>
                    <option value="kp">Corée du Nord</option>
                    <option value="kr">Corée du Sud</option>
                    <option value="cr">Costa Rica</option>
                    <option value="ci">Côte d’Ivoire</option>
                    <option value="hr">Croatie</option>
                    <option value="cu">Cuba</option>
                    <option value="cw">Curaçao</option>
                    <option value="dk">Danemark</option>
                    <option value="dj">Djibouti</option>
                    <option value="dm">Dominique</option>
                    <option value="eg">Égypte</option>
                    <option value="ae">Émirats arabes unis</option>
                    <option value="ec">Équateur</option>
                    <option value="er">Érythrée</option>
                    <option value="es">Espagne</option>
                    <option value="ee">Estonie</option>
                    <option value="sz">Eswatini</option>
                    <option value="va">État de la Cité du Vatican</option>
                    <option value="fm">États fédérés de Micronésie</option>
                    <option value="us">États-Unis</option>
                    <option value="et">Éthiopie</option>
                    <option value="fj">Fidji</option>
                    <option value="fi">Finlande</option>
                    <option value="fr">France</option>
                    <option value="ga">Gabon</option>
                    <option value="gm">Gambie</option>
                    <option value="ge">Géorgie</option>
                    <option value="gs">Géorgie du Sud et îles Sandwich du Sud</option>
                    <option value="gh">Ghana</option>
                    <option value="gi">Gibraltar</option>
                    <option value="gr">Grèce</option>
                    <option value="gd">Grenade</option>
                    <option value="gl">Groenland</option>
                    <option value="gp">Guadeloupe</option>
                    <option value="gu">Guam</option>
                    <option value="gt">Guatemala</option>
                    <option value="gg">Guernesey</option>
                    <option value="gn">Guinée</option>
                    <option value="gq">Guinée équatoriale</option>
                    <option value="gw">Guinée-Bissau</option>
                    <option value="gy">Guyana</option>
                    <option value="gf">Guyane française</option>
                    <option value="ht">Haïti</option>
                    <option value="hn">Honduras</option>
                    <option value="hu">Hongrie</option>
                    <option value="bv">Île Bouvet</option>
                    <option value="cx">Île Christmas</option>
                    <option value="im">Île de Man</option>
                    <option value="nf">Île Norfolk</option>
                    <option value="ax">Îles Åland</option>
                    <option value="ky">Îles Caïmans</option>
                    <option value="cc">Îles Cocos</option>
                    <option value="ck">Îles Cook</option>
                    <option value="fo">Îles Féroé</option>
                    <option value="hm">Îles Heard et McDonald</option>
                    <option value="fk">Îles Malouines</option>
                    <option value="mp">Îles Mariannes du Nord</option>
                    <option value="mh">Îles Marshall</option>
                    <option value="um">Îles mineures éloignées des États-Unis</option>
                    <option value="pn">Îles Pitcairn</option>
                    <option value="sb">Îles Salomon</option>
                    <option value="tc">Îles Turques-et-Caïques</option>
                    <option value="vg">Îles Vierges britanniques</option>
                    <option value="vi">Îles Vierges des États-Unis</option>
                    <option value="in">Inde</option>
                    <option value="id">Indonésie</option>
                    <option value="iq">Irak</option>
                    <option value="ir">Iran</option>
                    <option value="ie">Irlande</option>
                    <option value="is">Islande</option>
                    <option value="il">Israël</option>
                    <option value="it">Italie</option>
                    <option value="jm">Jamaïque</option>
                    <option value="jp">Japon</option>
                    <option value="je">Jersey</option>
                    <option value="jo">Jordanie</option>
                    <option value="kz">Kazakhstan</option>
                    <option value="ke">Kenya</option>
                    <option value="kg">Kirghizistan</option>
                    <option value="ki">Kiribati</option>
                    <option value="kw">Koweït</option>
                    <option value="re">La Réunion</option>
                    <option value="la">Laos</option>
                    <option value="ls">Lesotho</option>
                    <option value="lv">Lettonie</option>
                    <option value="lb">Liban</option>
                    <option value="lr">Libéria</option>
                    <option value="ly">Libye</option>
                    <option value="li">Liechtenstein</option>
                    <option value="lt">Lituanie</option>
                    <option value="lu">Luxembourg</option>
                    <option value="mk">Macédoine du Nord</option>
                    <option value="mg">Madagascar</option>
                    <option value="my">Malaisie</option>
                    <option value="mw">Malawi</option>
                    <option value="mv">Maldives</option>
                    <option value="ml">Mali</option>
                    <option value="mt">Malte</option>
                    <option value="ma">Maroc</option>
                    <option value="mq">Martinique</option>
                    <option value="mu">Maurice</option>
                    <option value="mr">Mauritanie</option>
                    <option value="yt">Mayotte</option>
                    <option value="mx">Mexique</option>
                    <option value="md">Moldavie</option>
                    <option value="mc">Monaco</option>
                    <option value="mn">Mongolie</option>
                    <option value="me">Monténégro</option>
                    <option value="ms">Montserrat</option>
                    <option value="mz">Mozambique</option>
                    <option value="mm">Myanmar (Birmanie)</option>
                    <option value="na">Namibie</option>
                    <option value="nr">Nauru</option>
                    <option value="np">Népal</option>
                    <option value="ni">Nicaragua</option>
                    <option value="ne">Niger</option>
                    <option value="ng">Nigéria</option>
                    <option value="nu">Niue</option>
                    <option value="no">Norvège</option>
                    <option value="nc">Nouvelle-Calédonie</option>
                    <option value="nz">Nouvelle-Zélande</option>
                    <option value="om">Oman</option>
                    <option value="ug">Ouganda</option>
                    <option value="uz">Ouzbékistan</option>
                    <option value="pk">Pakistan</option>
                    <option value="pw">Palaos</option>
                    <option value="pa">Panama</option>
                    <option value="pg">Papouasie-Nouvelle-Guinée</option>
                    <option value="py">Paraguay</option>
                    <option value="nl">Pays-Bas</option>
                    <option value="bq">Pays-Bas caribéens</option>
                    <option value="pe">Pérou</option>
                    <option value="ph">Philippines</option>
                    <option value="pl">Pologne</option>
                    <option value="pf">Polynésie française</option>
                    <option value="pr">Porto Rico</option>
                    <option value="pt">Portugal</option>
                    <option value="qa">Qatar</option>
                    <option value="hk">R.A.S. chinoise de Hong Kong</option>
                    <option value="mo">R.A.S. chinoise de Macao</option>
                    <option value="cf">République centrafricaine</option>
                    <option value="do">République dominicaine</option>
                    <option value="ro">Roumanie</option>
                    <option value="gb">Royaume-Uni</option>
                    <option value="ru">Russie</option>
                    <option value="rw">Rwanda</option>
                    <option value="eh">Sahara occidental</option>
                    <option value="bl">Saint-Barthélemy</option>
                    <option value="kn">Saint-Christophe-et-Niévès</option>
                    <option value="sm">Saint-Marin</option>
                    <option value="mf">Saint-Martin</option>
                    <option value="sx">Saint-Martin (partie néerlandaise)</option>
                    <option value="pm">Saint-Pierre-et-Miquelon</option>
                    <option value="vc">Saint-Vincent-et-les-Grenadines</option>
                    <option value="sh">Sainte-Hélène</option>
                    <option value="lc">Sainte-Lucie</option>
                    <option value="sv">Salvador</option>
                    <option value="ws">Samoa</option>
                    <option value="as">Samoa américaines</option>
                    <option value="st">Sao Tomé-et-Principe</option>
                    <option value="sn">Sénégal</option>
                    <option value="rs">Serbie</option>
                    <option value="sc">Seychelles</option>
                    <option value="sl">Sierra Leone</option>
                    <option value="sg">Singapour</option>
                    <option value="sk">Slovaquie</option>
                    <option value="si">Slovénie</option>
                    <option value="so">Somalie</option>
                    <option value="sd">Soudan</option>
                    <option value="ss">Soudan du Sud</option>
                    <option value="lk">Sri Lanka</option>
                    <option value="se">Suède</option>
                    <option value="ch" selected="">Suisse</option>
                    <option value="sr">Suriname</option>
                    <option value="sj">Svalbard et Jan Mayen</option>
                    <option value="sy">Syrie</option>
                    <option value="tj">Tadjikistan</option>
                    <option value="tw">Taïwan</option>
                    <option value="tz">Tanzanie</option>
                    <option value="td">Tchad</option>
                    <option value="cz">Tchéquie</option>
                    <option value="tf">Terres australes françaises</option>
                    <option value="io">Territoire britannique de l’océan Indien</option>
                    <option value="ps">Territoires palestiniens</option>
                    <option value="th">Thaïlande</option>
                    <option value="tl">Timor oriental</option>
                    <option value="tg">Togo</option>
                    <option value="tk">Tokelau</option>
                    <option value="to">Tonga</option>
                    <option value="tt">Trinité-et-Tobago</option>
                    <option value="tn">Tunisie</option>
                    <option value="tm">Turkménistan</option>
                    <option value="tr">Turquie</option>
                    <option value="tv">Tuvalu</option>
                    <option value="ua">Ukraine</option>
                    <option value="uy">Uruguay</option>
                    <option value="vu">Vanuatu</option>
                    <option value="ve">Venezuela</option>
                    <option value="vn">Vietnam</option>
                    <option value="wf">Wallis-et-Futuna</option>
                    <option value="ye">Yémen</option>
                    <option value="zm">Zambie</option>
                    <option value="zw">Zimbabwe</option>
                </select>
            </div>
            <div class="input-group mb-3 w-25">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="address-phone">Numéro de téléphone</span>
                </div>
                <input type="tel" class="form-control" aria-describedby="address-phone">
            </div>
            <div class="input-group mb-3 w-25">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="address-email">Adresse e-mail*</span>
                </div>
                <input required type="email" class="form-control" aria-describedby="address-email">
            </div>
        </form>

        <h2>Adresse de livraison</h2>
        <h6>Saisir vos informations d'expédition ou sélectionner une adresse existante.</h6>
        <div class="d-flex gap-10">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="addressRadios" id="usePayingAddress" checked>
                <label class="form-check-label" for="usePayingAddress">
                  Utiliser l'adresse de paiement
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="addressRadios" id="differentAddress">
                <label class="form-check-label" for="differentAddress">
                  Adresse de livraison différente
                </label>
            </div>
        </div>

        <div class="mt-10">
            <button class="btn btn-primary">Continuer</button>
        </div>
    </div>
{% endblock %}
