{% extends 'layouts/layout-default.njk' %}

{% block content %}
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Adresse</li>
                <li class="breadcrumb-item active">Livraison</li>
                <li class="breadcrumb-item active" aria-current="page">Paiement</li>
                <li class="breadcrumb-item" aria-current="page">Récapitulatif</li>
            </ol>
        </nav>
        <br>
        <h2>Récapitulation de la commande</h2>
        <h6>Examiner et confirmer les détails de votre commande.</h6>
        <a href="/commander-step-1">Change</a>

        <h3>Adresse de facturation et d'expédition</h3>
        <a href="/commander-step-2">Change</a>

        <h3>Mode de livraison</h3>
        <a href="/commander-step-3">Change</a>

        <div class="row gap-10">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" style="height: 200px" src="https://images.snowleader.com/cdn-cgi/image/f=auto,fit=scale-down,q=85/https://images.snowleader.com/media/catalog/product/cache/1/image/0dc2d03fe217f8c83829496872af24a0/s/e/serviette-tek-towel-bouclette-sage-configurable-seatosum-seat00608_01.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><a href="/produits/serviette-classique">Serviette classique</a></h5>
                  <div class="d-flex flex-row justify-content-between gap-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Quantité</span>
                        <input type="text" disabled value="5" class="form-control" aria-describedby="basic-addon1">
                    </div>
                  </div>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" style="height: 200px" src="https://images.snowleader.com/cdn-cgi/image/f=auto,fit=scale-down,q=85/https://images.snowleader.com/media/catalog/product/cache/1/image/0dc2d03fe217f8c83829496872af24a0/s/e/serviette-tek-towel-bouclette-sage-configurable-seatosum-seat00608_01.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><a href="/produits/serviette-classique">Serviette classique</a></h5>
                  <div class="d-flex flex-row justify-content-between gap-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Quantité</span>
                        <input type="text" disabled value="5" class="form-control" aria-describedby="basic-addon1">
                    </div>
                  </div>
                </div>
            </div>
        </div>
        
        <table class="table w-50 mt-10">
            <thead>
              <tr>
                <th scope="col">Sous-total de la commande</th>
                <th scope="col">Shipping (Poste)</th>
                <th scope="col">TVA</th>
                <th scope="col">Total de la commande</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>40.00 CHF</td>
                <td>5.00 CHF</td>
                <td>8.1% (3.00 CHF)</td>
                <th>40.00 CHF</th>
              </tr>
            </tbody>
        </table>

        <div class="mt-10">
            <button class="btn btn-primary">Retour</button>
            <button class="btn btn-primary">Commander</button>
        </div>
    </div>
{% endblock %}
