{% extends 'layouts/layout-default.njk' %}

{% block content %}
    <div class="container-fluid">
        <h1>Conditions générales de vente</h1>
        <h3>1. Champ d'application</h3>
        <p>Les présentes conditions générales de vente (CGV) s'appliquent à toutes les ventes conclues par l'entreprise Serviok.<br>
            Toute commande passée auprès du Vendeur implique l'acceptation sans réserve par le Client des présentes CGV.
        </p>
        <h3>2. Commandes</h3>
        <p>
            Les commandes sont considérées comme fermes et définitives dès réception d'un accord écrit du Client et du paiement intégral du montant de la commande.<br>
            Toute modification ou annulation de commande doit faire l'objet d'un accord écrit entre les deux parties.
        </p>
        <h3>3. Prix</h3>
        <p>
            Les prix des produits sont indiqués en CHF, la TVA est indiquée au moment de la commande.<br>
            Le Vendeur se réserve le droit de modifier ses prix à tout moment, tout en garantissant l'application des tarifs en vigueur au moment de la commande.
        </p>
        <h3>4. Paiement</h3>
        <p>
            Le paiement s'effectue en totalité à la commande, sauf conditions particulières convenues entre les parties.<br>
            Les paiements sont acceptés par virement bancaire ou carte bancaire. En cas de retard de paiement, des pénalités de retard seront exigibles conformément aux dispositions légales.
        </p>
        <h3>5. Livraison</h3>
        <p>
            Les produits sont livrés à l'adresse indiquée par le Client lors de la commande.<br>
            Les délais de livraison sont donnés à titre indicatif et peuvent varier en fonction des contraintes logistiques.<br>
            En cas de retard de livraison, le Vendeur s'engage à informer le Client dans les meilleurs délais.
        </p>
        <h3>6. Réserve de propriété</h3>
        <p>
            Les produits demeurent la propriété du Vendeur jusqu'au paiement intégral du prix par le Client.<br>
            Le Client s'engage à assurer les produits contre tous les risques de perte, vol ou destruction dès la livraison.
        </p>
        <h3>7. Garantie</h3>
        <p>
            Les produits vendus bénéficient de la garantie légale de conformité et de la garantie des vices cachés.<br>
            Toute réclamation doit être adressée par écrit au Vendeur dans un délai de quinze jours suivant la réception des produits.
        </p>
        <h3>8. Responsabilité</h3>
        <p>
            Le Vendeur ne saurait être tenu pour responsable des dommages directs ou indirects causés par l'utilisation ou la mauvaise utilisation des produits vendus.
        </p>
        <h3>9. Droit applicable et litiges</h3>
        <p>
            Les présentes CGV sont soumises au droit Suisse.<br>
            En cas de litige, les parties s'engagent à rechercher une solution amiable. À défaut, les tribunaux Suisses seront seuls compétents pour régler le litige.
        </p>
    </div>
{% endblock %}
