{% extends 'layouts/layout-default.njk' %}
{% block content %}
    {# <p>Ceci est un commentaire</p> #}
    <div class="container">
        {% include 'components/contact/contact.njk' %}
    </div>
{% endblock %}