{% extends 'layouts/layout-default.njk' %}
{% block content %}
    {# <p>Ceci est un commentaire</p> #}
    <div class="d-grid gap-5">

            {% include 'components/page-de-accueil/page-de-accueil.njk' %}

    </div>
{% endblock %}
