{% extends 'layouts/layout-default.njk' %}

{% block content %}
    <img class="intersection-item" src="/src/assets/img/fire.jpg">
    <img class="intersection-item" src="/src/assets/img/fire.jpg">
    <img class="intersection-item" src="/src/assets/img/fire.jpg">
    <img class="intersection-item" src="/src/assets/img/fire.jpg">
    <img class="intersection-item" src="/src/assets/img/fire.jpg">
    <img class="intersection-item" src="/src/assets/img/fire.jpg">
    <img class="intersection-item" src="/src/assets/img/fire.jpg">
    <img class="intersection-item" src="/src/assets/img/fire.jpg">
    <img class="intersection-item" src="/src/assets/img/fire.jpg">
    <img class="intersection-item" src="/src/assets/img/fire.jpg">
    <img class="intersection-item" src="/src/assets/img/fire.jpg">
    <img class="intersection-item" src="/src/assets/img/fire.jpg">
{% endblock %}
