{% extends 'layouts/layout-default.njk' %}

{% block content %}
    <div class="container-fluid">
        <div class="pswp-gallery pswp-gallery--single-column" id="gallery--getting-started">
            <div class="row gy-5 gx-5 row-cols-lg-3">
                <a href="/src/assets/img/fire.jpg" class="position-relative ratio ratio-1x1"
                   data-pswp-width="1920"
                   data-pswp-height="1440"
                   data-cropped="true"
                   target="_blank">
                    <img src="/src/assets/img/fire.jpg" alt="" class="h-100 w-100 object-fit-cover" />
                </a>
                <a href="/src/assets/img/fire.jpg" class="position-relative ratio ratio-1x1"
                   data-pswp-width="1920"
                   data-pswp-height="1440"
                   data-cropped="true"
                   target="_blank">
                    <img src="/src/assets/img/fire.jpg" alt="" class="h-100 w-100 object-fit-cover" />
                </a>
                <a href="/src/assets/img/fire.jpg" class="position-relative ratio ratio-1x1"
                   data-pswp-width="1920"
                   data-pswp-height="1440"
                   data-cropped="true"
                   target="_blank">
                    <img src="/src/assets/img/fire.jpg" alt="" class="h-100 w-100 object-fit-cover" />
                </a>
            </div>
        </div>
    </div>
{% endblock %}
