<div style="margin: auto;">
    <b>Formulaire de contact</b>
    <br><br>
    <table style="width: 100%;">
        <tr>
            <td style="width: 50%;">
                <form>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="inputName">Nom</label>
                            <input type="text" class="form-control" id="inputName" placeholder="Nom">
                        </div>
                        <div class="form-group">
                            <label for="inputFirstName">Prénom</label>
                            <input type="text" class="form-control" id="inputFirstName" placeholder="Prénom">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="inputPhone">Téléphone</label>
                            <input type="number" class="form-control" id="inputPhone" placeholder="Téléphone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Message</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </form>
            </td>
            <td style="width: 50%;">
                <p style="text-align: center; position: relative !important; top: -25px;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2740.516708678711!2d7.0370289!3d46.616553200000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478e629983d61eab%3A0x3d52233ba5171a80!2sCh.%20des%20Prairies%2012%2C%201630%20Bulle!5e0!3m2!1sfr!2sch!4v1715697040886!5m2!1sfr!2sch" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </p>
            </td>
        </tr>
    </table>
    <hr>
    <div>
        <a>info@serviok.ch</a><br>
        <a>+41 78 927 11 93</a><br>
        <a>Ch. des Prairies 12, 1630 Bulle</a>
    </div>
</div>