<div style="margin: auto;">
    <h1>Contact</h1>
    <table style="width: 100%;">
        <tr>
            <td style="width: 50%;">
                <form>
                    <div class="input-group mb-3 widget widget-text mandatory">
                        <label for="ctrl_1" class="input-group-prepend mandatory">
                            <span class="input-group-text">Nom<span class="mandatory">*</span></span>
                        </label>
                        <input type="text" name="Nom" id="ctrl_1" class="form-control text mandatory" value="" required>
                    </div>
                    <div class="input-group mb-3 widget widget-text mandatory">
                        <label for="ctrl_2" class="input-group-prepend mandatory">
                            <span class="input-group-text">Prénom<span class="mandatory">*</span></span>
                        </label>
                        <input type="text" name="Prenom" id="ctrl_2" class="form-control text mandatory" value="" required>
                    </div>
                    <div class="input-group mb-3 widget widget-text mandatory">
                        <label for="ctrl_3" class="input-group-prepend mandatory">
                            <span class="input-group-text">Email<span class="mandatory">*</span></span>
                        </label>
                        <input type="email" name="Email" id="ctrl_3" class="form-control text mandatory" value="" required>
                    </div>
                    <div class="input-group mb-3 widget widget-text">
                        <label for="ctrl_4" class="input-group-prepend">
                            <span class="input-group-text">Téléphone<span class="mandatory">*</span></span>
                        </label>
                        <input type="tel" name="Telephone" id="ctrl_4" class="form-control text" value="">
                    </div>
                    <div class="input-group mb-3 widget widget-textarea mandatory">
                        <label for="ctrl_5" class="input-group-prepend mandatory">
                            <span class="input-group-text">Message<span class="mandatory">*</span></span>
                        </label>
                        <textarea name="Message" id="ctrl_5" class="form-control text mandatory"  rows="4" cols="40"  required></textarea>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </form>
            </td>
            <td style="width: 50%;">
                <p style="text-align: center; position: relative !important; top: -25px;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5490.493392074096!2d6.617756976369045!3d46.52301996217332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c2e29782e10b5%3A0x194ec775b80adba5!2sEPSIC%20-%20%C3%89cole%20Professionnelle!5e0!3m2!1sfr!2sch!4v1715756947662!5m2!1sfr!2sch" width="500" height="320" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </p>
            </td>
        </tr>
    </table>
    <hr>
    <div>
        <a>info@serviok.ch</a><br>
        <a>+41 21 316 58 58</a><br>
        <a>Rue de Genève 63, 1004 Lausanne</a>
    </div>
</div>