<div class="container">
    <h3>Nunjuks Global Macros elements</h3>
    <div class="d-grid gap-4">
        <div>
            {{ button('Macro button') }}
            {{ button('Macro button', 'tertiary') }}
            {{ button('index2', 'danger', 'index2') }}
        </div>
        <div class="d-grid gap-3">
            {{ forms.input('Macro input') }}
            {{ forms.input('Macro input', placeholder='password') }}
        </div>
        <div>
            {{ forms.textarea('Macro textarea') }}
        </div>
        <div>
            {{ forms.checkbox('Macro checkbox') }}
            {{ forms.checkbox('Macro checkbox') }}
        </div>
        <div>
            {{ forms.radio('Macro radio') }}
            {{ forms.radio('Macro radio') }}
        </div>
        <div>
            <h4>Choices JS</h4>
            <div class="mb-3">
                <select class="form-select js-choice">
                    <option value="">This is a placeholder</option>
                    <option>Option A</option>
                    <option>Option B</option>
                    <option>Option C</option>
                    <option>Option D</option>
                    <option>Option E</option>
                </select>
            </div>
            <div class="mb-3">
                <select class="form-select js-choice">
                    <option value="">This is a placeholder</option>
                    <option>Option A</option>
                    <option>Option B</option>
                    <option>Option C</option>
                    <option>Option D</option>
                    <option>Option E</option>
                </select>
            </div>
            <div class="mb-3">
                <select class="form-select js-choice">
                    <option value="">This is a placeholder</option>
                    <option>Option A</option>
                    <option>Option B</option>
                    <option>Option C</option>
                    <option>Option D</option>
                    <option>Option E</option>
                </select>
            </div>
            <div class="mb-3">
                <select class="form-select">
                    <option value="">This is a placeholder</option>
                    <option>Option A</option>
                    <option>Option B</option>
                    <option>Option C</option>
                    <option>Option D</option>
                    <option>Option E</option>
                </select>
            </div>
        </div>
    </div>
</div>
