<div class="container">
    <div class="row">
        <div class="col-lg-6 mb-4 mb-lg-0">
            <p class="h2">
                Fade Up Img
            </p>
            <p>
                Nunc nec velit pellentesque, imperdiet sapien ut, iaculis mi. Maecenas ornare ex id risus feugiat pellentesque. Curabitur consectetur, dui vehicula pretium facilisis, ipsum augue mollis neque, sed dapibus mi quam non magna. Morbi eget nibh magna. Pellentesque metus justo, rhoncus eget leo at, lobortis elementum metus. Pellentesque pulvinar quam vel ultricies imperdiet. Nulla facilisi. Aliquam tempor augue metus, at imperdiet metus tristique et.
            </p>
        </div>
        <div class="col-lg-6 reveal-container">
            <div class="reveal-cover">
                <img src="/src/assets/img/fire.jpg">
            </div>
        </div>
    </div>
</div>
