<div class="bg-dark" style="background-image: url('/src/assets/img/logo-fz.svg')">
    <img src="/src/assets/img/logo-fz.svg" width="300" height="100">
</div>
<div class="bg-light">
    <img src="/src/assets/img/fire.jpg" width="300" height="100">
</div>
<!--
<div class="container">
    <video class="mw-100" src="/src/assets/video/video.mp4" autoplay></video>
</div>
-->
