<nav id="menu-mobile">
    <ul>
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Our work</a>
        </li>
        <li>
            <span>About us</span>
            <ul>
                <li>
                    <a href="#">History</a>
                </li>
                <li>
                    <span>The team</span>
                    <ul>
                        <li>
                            <a href="#">Management</a>
                        </li>
                        <li>
                            <a href="#">Sales</a>
                        </li>
                        <li>
                            <a href="#">Development</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <span>Services</span>
            <ul>
                <li>
                    <a href="#">Design</a>
                </li>
                <li>
                    <a href="#">Development</a>
                </li>
                <li>
                    <a href="#">Marketing</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</nav>
