<div class="container">
    <h4 class="title h3 mb-4">Ratio boxes</h4>
    <div class="row gy-4">
        <div class="col-lg-6">
            <div class="ratio ratio-1x1 bg-primary text-white p-4">
                <p class="h1">.ratio.ratio-1x1</p>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="ratio ratio-16x9 bg-primary text-white p-4 mb-4">
                <p class="h1">.ratio.ratio-16x9</p>
            </div>
            <div class="ratio ratio-4x3 bg-primary text-white p-4">
                <p class="h1">.ratio.ratio-4x3</p>
            </div>
        </div>
    </div>
</div>
