<div class="container">
    <h4 class="h3">Auto spacing & auto cols for contao's content</h4>
    <div class="bg-light border text-dark p-5 d-grid gap-5">
        <div>
            <h5>Titre h5</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ultrices enim, sed efficitur dolor. Aenean consequat velit et massa congue sodales. Donec aliquet, erat quis pellentesque malesuada, eros nunc pellentesque orci, ut fringilla quam justo sit amet dui.
            </p>
            <h5>
                Titre h5
            </h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ultrices enim, sed efficitur dolor. Aenean consequat velit et massa congue sodales. Donec aliquet, erat quis pellentesque malesuada, eros nunc pellentesque orci, ut fringilla quam justo sit amet dui.
            </p>
        </div>
        <div class="row row-cols-lg-2 g-5">
            <div>
                <h5>Titre h5</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ultrices enim, sed efficitur dolor. Aenean consequat velit et massa congue sodales. Donec aliquet, erat quis pellentesque malesuada, eros nunc pellentesque orci, ut fringilla quam justo sit amet dui.
                </p>
            </div>
            <div>
                <h5>Titre h5</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ultrices enim, sed efficitur dolor. Aenean consequat velit et massa congue sodales. Donec aliquet, erat quis pellentesque malesuada, eros nunc pellentesque orci, ut fringilla quam justo sit amet dui.
                </p>
            </div>
        </div>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ultrices enim, sed efficitur dolor. Aenean consequat velit et massa congue sodales. Donec aliquet, erat quis pellentesque malesuada, eros nunc pellentesque orci, ut fringilla quam justo sit amet dui.
            </p>
            <h5>Titre h5</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ultrices enim, sed efficitur dolor. Aenean consequat velit et massa congue sodales. Donec aliquet, erat quis pellentesque malesuada, eros nunc pellentesque orci, ut fringilla quam justo sit amet dui.
            </p>
        </div>
    </div>
</div>
