.reveal-container {
    overflow: hidden;
    position: relative;
}

.reveal-cover {
    overflow: hidden;
    transform-origin: center bottom;
    bottom: 0;
    display: flex;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transform-origin: bottom;
    }
}
