{%- from "components/nunjuks/macros.njk" import button -%}
{% import "components/nunjuks/forms.njk" as forms %}
{% import "components/nunjuks/globals.njk" as globals %}

<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Integration Boilerplate</title>
    <script src="https://kit.fontawesome.com/56def7f001.js" crossorigin="anonymous"></script>
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <script type="module" src="/src/styles.js"></script>
</head>
    <body class="{% block classBody %}{% endblock %}">
        {% block body %}{% endblock %}
    </body>
    <script type="module" src="/src/script.js"></script>
</html>
